[data-title] {
    color: red;
}

[data-toggle='modal'] {
    padding: 15px 25px;
    border: 2px solid #333;
    background-color: #FFF;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
}
body {
    min-height: 3000px;
}
.dropdown {
    width: 250px;
    position: relative;
}
.dropdown .btn {
    width: 100%;
    font-size: 16px;
    background-color: #FFF;
    border: 0;
    padding: 8px 15px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.4);
    margin-top: 20px;
}
.dropdown .dropdown-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 100%;
    top: 0;
    width: 200px;
    text-align: center;
    z-index: 2;
    background-color: #fff;
    display: none;
}
.dropdown.open .dropdown-menu {
    display: block;
}
.dropdown .dropdown-menu li {
    font-size: 16px;
    padding: 8px 15px;
}
.dropdown .dropdown-menu li a {
    text-decoration: none;
    color: black;
}
.dropdown .dropdown-menu li:hover {
    background-color: #eee;
}
tbody tr td:nth-child(2) {
    background-color: red;
}